{% extends 'master.html' %}

{% block body %}
<!-- breadcrumb -->
<div class="container py-4 flex items-center gap-3">
    <p class="text-gray-600 font-medium">Profile</p>
</div>
<!-- ./breadcrumb -->

<!-- wrapper -->
<div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">

    <!-- sidebar -->
    <div class="col-span-3">
        <div class="px-4 py-3 shadow flex items-center gap-4">
            <div class="flex-shrink-0">
                <img src="/static/assets/images/avatar.png" alt="profile"
                    class="rounded-full w-14 h-14 border border-gray-200 p-1 object-cover">
            </div>
            <div class="flex-grow">
                <p class="text-gray-600">Hello,</p>
                <h4 class="text-gray-800 font-medium">{{ request.user.username }}</h4>
            </div>
        </div>

        <div class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
            <div class="space-y-1 pl-8">
                <a href="{% url 'profile' %}"" class="relative hover:text-primary block capitalize transition">
                    Profile information
                </a>
                <a href="{% url 'change_password' %}" class="relative hover:text-primary block capitalize transition">
                    Change password
                </a>
                <a href="{% url 'order_history' %}"
                    class="relative hover:text-primary block font-medium capitalize transition">
                    <span class="absolute -left-8 top-0 text-base">
                        <i class="fa-solid fa-box-archive"></i>
                    </span>
                    My order history
                </a>
                <a href="{% url 'logout' %}"
                    class="relative hover:text-primary block font-medium capitalize transition">
                    <span class="absolute -left-8 top-0 text-base">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </span>
                    Logout
                </a>
            </div>

        </div>
    </div>
    <!-- ./sidebar -->

    <div class="col-span-9 shadow rounded px-6 pt-5 pb-7">
        <h4 class="text-lg text-center text-primary font-medium capitalize mb-4 ">
            Change password
        </h4>

        <!-- Display success and error messages -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" id="messageBox">
                    <strong>Congratulations!!</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="success" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% else %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" id="messageBox">
                    <strong>Oops!</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        

        <form method="post" autocomplete="off">
            {% csrf_token %}

            <div class="space-y-2">
                <div>
                    <label for="old_password" class="text-gray-600 mb-2 block">Old Password</label>
                    <input type="password" name="old_password" id="old_password"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="*******">
                </div>
                
                <div>
                    <label for="new_password1" class="text-gray-600 mb-2 block">New Password</label>
                    <input type="password" name="new_password1" id="new_password1"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="*******">
                </div>
                <div>
                    <label for="new_password2" class="text-gray-600 mb-2 block">Confirm New Password</label>
                    <input type="password" name="new_password2" id="new_password2"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="*******">
                </div>
            </div>

            <div
                class="mt-4 bg-primary block w-full py-2 text-center text-white border border-primary rounded font-medium mb-1 hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium mb-1">
                <button type="submit">Save New Password</button>
            </div>
        </form>
    </div>

</div>

<style>
    #messageBox {
        transition: all 0.2s ease-in-out;
        border-radius: 10px;
        background-color: rgba(255, 0, 0, 0.7);
        color: white;
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
    }

    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.5s;
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
</style>

{% endblock %} 