{% extends 'master.html' %}

{% block body %}
 <!-- login -->
    <div class="contain py-16">
        <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
            <h2 class="text-center text-primary uppercase font-medium mb-1">Change Password </h2>
            {% if validlink %}
            <form method="post" autocomplete="off">
                {% csrf_token %}

                <div class="space-y-2">
                   <div>
                        <label for="new_password1" class="text-gray-600 mb-2 block">Password</label>
                        <input type="password" name="new_password1" id="new_password1"
                            class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                            placeholder="*******">
                       {% if form.errors.new_password1 %}
                       <div class="error">{{ form.errors.new_password1 }}</div>
                       {% endif %}
                    </div>
                    <div>
                        <label for="new_password2" class="text-gray-600 mb-2 block">Confirm Password</label>
                        <input type="password" name="new_password2" id="new_password2"
                            class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                            placeholder="*******">
                        {% if form.errors.new_password2 %}
                        <div class="error">{{ form.errors.new_password2 }}</div>
                        {% endif %}
                    </div>

                </div>

                <div class="mt-4 bg-primary block w-full py-2  text-center  text-white border border-primary rounded font-medium mb-1 hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium font-medium mb-1">
                    <button type="submit">Save New Password</button>
                </div>
            </form>
            {% else %}
            <div style="text-align: center;">
                <p style="color: red;">Invalid Token</p>
                <p>
                    <a href="{% url 'password_reset' %}" style="color: blue;">Request a new password reset token</a>
                </p>
            </div>

           {% endif %}

        </div>
    </div>
{% endblock %}
