{% extends 'master.html' %}

{% block body %}
 <!-- login -->
    <div class="contain py-16">
        <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
            <h2 class="text-center text-primary text-2xl uppercase font-medium mb-1">Reset Password </h2>
            <br>
            <p class="text-gray-600 mb-6 text-sm">
                We have mailed you instructions for resetting your password.
            </p>
            <p class="text-gray-600 mb-6 text-sm">
                If you haven't received it, please verify that you entered the correct email and/or check your spam folder.
            </p>



        </div>
    </div>
{% endblock %}


