{% extends 'master.html' %}
{% load static %}
{% block body %}
<!-- breadcrumb -->
<div class="container py-4 flex items-center gap-3">
  <p class="text-center text-gray-600 font-medium">Profile</p>
</div>
<!-- ./breadcrumb -->

<!-- wrapper -->
<div class="container grid grid-cols-12 items-start gap-6 pt-4 pb-16">
  {% if request.user.is_authenticated %}
  <!-- sidebar -->
  <div class="col-span-3">
    <div class=" px-4 py-3 shadow flex items-center gap-4">
      <div class="flex-shrink-0">
        <img src="/static/assets/images/avatar.png" alt="profile"
          class="rounded-full w-14 h-14 border border-gray-200 p-1 object-cover">
      </div>
      <div class="flex-grow">
        <p class="text-gray-600">Hello,</p>
        <h4 class="text-gray-800 font-medium">{{request.user.username}}</h4>
      </div>
    </div>

    <div class="mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
      <div class="space-y-1 pl-8">
        <a href="{% url 'profile' %}" class="relative hover:text-primary block capitalize transition">
          Profile information
        </a>
        
        <a href="{% url 'change_password' %}" class="relative hover:text-primary block capitalize transition">
          Change password
        </a>

        <a href="{% url 'order_history' %}" class="relative hover:text-primary block font-medium capitalize transition">
          <span class="absolute -left-8 top-0 text-base">
            <i class="fa-solid fa-box-archive"></i>
          </span>
          My Order history
        </a>

        

        <a href="{% url 'logout' %}" class="relative hover:text-primary block font-medium capitalize transition">
          <span class="absolute -left-8 top-0 text-base">
            <i class="fa-solid fa-right-from-bracket"></i>
          </span>
          Logout
        </a>
      </div>
    </div>
  </div>
  {% else %}
  <!-- sidebar -->
  <div class="col-span-3">
    <div class="text-center mt-6 bg-white shadow rounded p-4 divide-y divide-gray-200 space-y-4 text-gray-600">
      <a href="{% url 'order_history' %}" class="relative hover:text-primary block font-medium capitalize transition">
        <span class=" absolute -left-8 top-0 text-base">
          <i class="fa-solid fa-box-archive"></i>
        </span>
        My order history
      </a>
    </div>
  </div>
  {% endif %}


  <!-- ./sidebar -->

  <div class="col-span-9 shadow rounded px-6 pt-5 pb-7">
    <h4 class="text-center text-primary text-lg font-medium capitalize mb-4">
      Order History
    </h4>
    <br>
    <div class="col-span-2">
      <div class="bg-white rounded-lg shadow-md">
        <table class="w-full">
          <thead>
            <tr>
              <th class="py-3 px-4 border-b border-gray-200 text-left">Product</th>
              <th class="py-3 px-4 border-b border-gray-200 text-left">Quantity</th>
              <th class="py-3 px-4 border-b border-gray-200 text-center">Status</th>
              <th class="py-3 px-4 border-b border-gray-200 text-center">Product Price</th>
              <th class="py-3 px-4 border-b border-gray-200"></th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            {% for item in order.products %}
            {% if item.product.images.all %}
            <tr>
              <td class="py-4 px-6 border-b border-gray-200"
                style="width: 600px; height: 150px; border-bottom: 1px solid #340f75;">
                <div class="flex items-center">
                  <img class="h-32 w-32 object-cover rounded-lg mr-4" src="{{ item.product.images.first.image.url }}"
                    alt="{{ item.product.title }}">
                  <div>
                    <a href="{% url 'detail_product_view' item.product.id %}">
                      <h3 class="text-gray-900 font-semibold">{{ item.product.name }}</h3>
                    </a>
                  </div>
                </div>
              </td>
              <td class="py-4 px-6 border-b border-gray-200 text-center"
                style="width: 200px; height: 150px;border-bottom: 1px solid #340f75;">
                <div class="flex items-center">
                  <span class="mx-2 quantity" id="quantity">{{ item.quantity }}</span>
                </div>
              </td>
              <td class="py-4 px-6 border-b border-gray-200 text-center"
                style="width: 200px; height: 150px; border-bottom: 1px solid #340f75;">{{ item.status }}</td>
              <td class="py-4 px-6 border-b border-gray-200 text-center"
                style="width: 200px; height: 150px; border-bottom: 1px solid #340f75;">{{ order.subtotal }}</td>
              <!-- Subtotal -->
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}